{% extends 'base.html' %}

{% block content %}

<h1> Jak działa TeamNovel </h1>


<ul class="collapsible">
    <li>
      <div class="collapsible-header" style="background-color: #132A27; color:white"><i class="material-icons">expand_more</i>Do czego służy TeamNovel</div>
      <div class="collapsible-body">
          <span>
              TeamNovel to narzędzie, które służy do wspólnego pisania historii.
              Zaproś znajomych do zabawy i snujcie wspólnie opowieści.
              Science fiction? Fantasy? Beletrystyka? Wszystkie chwyty dozwolone! Ogranicza Cię jedynie wyobraźnia.
              Każda opowieść może się potoczyć w nieoczekiwanym kierunku, ponieważ nigdy nie wiesz, co dopisze kolejny gracz.
              Co się stanie, gdy ktoś przed Twoją kolejką uśmiercił głównego bohatera? Tylko Ty możesz odpowiedzieć na to pytanie, dopisując kolejny fragment.

          </span>
      </div>
    </li>
    <li>
      <div class="collapsible-header" style="background-color: #132A27; color:white"><i class="material-icons">expand_more</i>Zasady</div>
      <div class="collapsible-body"><span>
          Aby stworzyć opowieść użytkownik musi powołać zespół, którego będzie liderem.
          To lider tworzy opowiadanie oraz nadaje mu tytuł i wstęp.
          Następnie użytkownicy dopisują poszczególne fragmenty tekstu (w losowej kolejności).
          Zabawa kończy się, gdy lider zespołu zdecyduje, by opublikować tekst. Wówczas jest on widoczny dla wszystkich użytkowników serwisu i nie można go już zmienić.
      </span></div>
    </li>
    <li>
      <div class="collapsible-header" style="background-color: #132A27; color:white"><i class="material-icons">expand_more</i> Jak długie może być opowiadanie </div>
      <div class="collapsible-body">
          <span>
          Chcąc dać jak największe pole dla kreatywności Twojej i Twoich przyjaciół nie ograniczamy długości opowiadania.
          Możecie rozbudowywać Wasze historie, jak długo chcecie.
          Jedynym ograniczeniem jest liczba znaków w kolejce. Każdy gracz może napisać ich maksymalnie 300.
              O reszcie decyduje wyłącznie Wasza lekkość pióra i granice Waszej wyobraźni...
      </span>
      </div>
    </li>
    <li>
      <div class="collapsible-header" style="background-color: #132A27; color:white"><i class="material-icons">expand_more</i> Odpowiedzialność za publikowane treści </div>
      <div class="collapsible-body"><span> Autor strony nie ponosi odpowiedzialności za teksty publikowane przez użytkowników. Wszelkie teksty łamiące prawo polskie lub dyskryminujące jakiekolwiek grupy społeczne, etniczne, narodowe lub inne (a także konkretne osoby) będą usuwane. Zaobserwowane naruszenia prosimy zgłaszać na administracja@teamnovel.pl</span></div>
    </li>
  </ul>





{% endblock %}

